<div class="top-bar">
  <div class="top-bar_container container">
    <div class="location-container">
      <a class="mini-text link">Проверить адрес</a>
      <p class="mini-text">Среднее время доставки*: <span class="bold">00:24:19</span></p>
    </div>
    <div class="meta-container">
      <p class="mini-text">Время работы с 11:00 до 23:00</p>
      <a class="mini-text login link">
        <img src="../../../assets/images/login-icon.svg" alt="login-icon">
        Войти в аккаунт
      </a>
    </div>
  </div>
</div>