<app-modal *ngIf="modalOpen" (closeModal)="onModalClose()">
  <app-auth [authType]="authType" modalClose></app-auth>
</app-modal>

<div class="top-bar">
  <div class="top-bar_container container">
    <div class="location-container">
      <a class="mini-text link">Проверить адрес</a>
      <p class="mini-text">Среднее время доставки*: <span class="bold">00:24:19</span></p>
    </div>
    <div class="meta-container">
      <p class="mini-text">Время работы с 11:00 до 23:00</p>
      <button class="btn mini-text login" (click)="onModalOpen()" type="button" *ngIf="!isAuthenticate">
        <img src="../../../assets/images/login-icon.svg" alt="login-icon">
        Войти в аккаунт
      </button>
      <div class="meta-inner" *ngIf="isAuthenticate">
        <button class="btn" (click)="onPopoverToggle()">
          <img src="../../../assets/images/login-icon.svg" alt="login-icon">
        </button>
        <div class="popover" *ngIf="popoverOpen" modalClose (modalClose)="onPopoverClose()">
          <app-account-popover></app-account-popover>
        </div>
      </div>
    </div>
  </div>
</div>