@import '../../../variables';

.top-bar {
  color: $white;
  padding: 10px;

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.location-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.meta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.meta-inner {

  position: relative;
}

.popover {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 170%;
  z-index: 2;
}