@import '../../../variables';

.side-modal-container {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: $bgc;
  z-index: 1000;
  padding: 50px 60px 32px 20px;
}

.cross {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 40px;
  right: 20px;
  cursor: pointer;

  &::after {
    content: '';
    width: 32px;
    height: 1px;
    background-color: $gray;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
  }

  &::before {
    content: '';
    width: 32px;
    height: 1px;
    background-color: $gray;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    transform: rotate(135deg);
  }
}