@import '../../../variables';

.order-accepted {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 48px;
}

.image {
  width: 220px;
  height: 135px;
}

.content {

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  p {
    text-align: center;
  }

  a {
    @include button-primary(13px, 32px, 0, 0)
  }
}
