<div class="change-user-info__container">
  <div class="top">
    <h3>Личные данные</h3>
    <button class="btn text link button-cancel" (click)="onCancel()" *ngIf="formOpen">
      Отменить
    </button>
    <button class="btn text link change-button" (click)="onChange()" *ngIf="!formOpen">
      <img src="/assets/images/change-icon.svg" alt="change-icon">
      Изменить
    </button>
  </div>
  <table class="change-user-info__table" *ngIf="!formOpen">
    <tr class="change-user-info__column">
      <td class="change-user-info__title mini-text">Имя</td>
      <td class="change-user-info__cell text">{{userInfo.username}}</td>
    </tr>
    <tr class="change-user-info__column">
      <td class="change-user-info__title mini-text">Номер телефона</td>
      <td class="change-user-info__cell text">{{userInfo.phone}}</td>
    </tr>
    <tr class="change-user-info__column">
      <td class="change-user-info__title mini-text">Дата рождения</td>
      <td class="change-user-info__cell text">{{userInfo.date}}</td>
    </tr>
  </table>

  <form [formGroup]="form" *ngIf="formOpen" (ngSubmit)="onSubmit()">
    <div class="form__inner">
      <fieldset class="form-input">
        <label class="mini-text">Имя</label>
        <input type="text" placeholder="Имя" formControlName="username">
      </fieldset>
      <fieldset class="form-input">
        <label class="mini-text">Номер телефона</label>
        <input type="text" placeholder="+7" formControlName="phone" prefix="+7" [dropSpecialCharacters]="false"
          [mask]="'(000)000-00-00'">
      </fieldset>
      <fieldset class="form-input">
        <label class="mini-text">Дата рождения</label>
        <input type="text" placeholder="Дата рождения" formControlName="date" [dropSpecialCharacters]="false"
          [mask]="'00-00-0000'">
      </fieldset>
    </div>
    <button class="btn form-submit" [disabled]="!form.valid || (isLoading$ | async)"> Сохранить изменения</button>
  </form>
</div>