@import '../../../variables';

.header {
  background-color: $white;
  border-top: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
}

.header-container {
  padding: 16px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.cart {
  @include button-primary(8px, 16px, 0, 0);
  display: flex;
  align-items: center;
  gap: 2px;

  &:hover {
    .cart-icon {
      g path {
        fill: $primary;
      }
    }
  }
}