.profile-container {
  margin-top: 30px;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main {
  margin-top: 24px;
}

.profile-container {
  max-width: 850px;
}