@import '../../../variables';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #19191969;
  backdrop-filter: blur(5px);
  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $bgc;
  z-index: 1000;
  border-radius: 24px;
}

.cross {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  right: -62px;
  cursor: pointer;

  &::after {
    content: '';
    width: 32px;
    height: 1px;
    background-color: $white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
  }

  &::before {
    content: '';
    width: 32px;
    height: 1px;
    background-color: $white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    transform: rotate(135deg);
  }
}