@import '../../../variables';

.pagination {
  display: flex;
  gap: 16px;
}

.block {
  width: 48px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid $lineGray;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
}

.pages {
  display: flex;
  flex-direction: row;
  gap: 16px;

  .activate {

    &:hover {
      background-color: $primaryHover;
    }
  }
}

.activate {
  background-color: $primary;
  border-radius: 6px;
  color: $white;
}

ul {
  margin: 0;
  padding: 0;

}

.pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  @include button-primary(15.27px, 18.18px, 0, 0);
  cursor: pointer;

  &:hover {
    div {

      &::before {
        background-color: $primary;
      }

      &::after {

        background-color: $primary;

      }
    }
  }

  &:disabled {
    &:hover {
      div {

        &::before {

          background-color: $white;
        }

        &::after {
          background-color: $white;

        }
      }
    }
  }

  div {
    position: relative;
    width: 17.45px;
    height: 9.45px;
    transition: 0.3s all;

    &::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 2px;
      background-color: $white;
      left: 50%;
      top: 50%;
      transform: translateX(calc(-50% - 2.18px)) rotate(60deg);
      margin-top: 3.5px;
      border-radius: 5px;
      transition: 0.3s all;
    }

    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 2px;
      background-color: $white;
      left: 50%;
      top: 50%;
      transform: translateX(calc(-50% - 2.18px)) rotate(-60deg);
      margin-top: -3.5px;
      border-radius: 5px;
      transition: 0.3s all;
    }
  }
}

.next {
  div {
    transform: rotate(-180deg) translateY(-1.5px);
  }
}