@import '../../../variables';

.remove-checkbox {
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid $primary;
  color: $primary;
  transition: 0.3s all;
  cursor: pointer;

  &:hover {
    color: $primaryHover;
    transition: 0.3s all;
    border: 2px solid $primaryHover;
  }
}

.checkbox:checked+.remove-checkbox {
  border: 2px solid $gray;
  color: $gray;
}

.checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.topping-checkbox {
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid $gray;
  color: $gray;
  transition: 0.3s all;
  cursor: pointer;

  .price {
    color: $gray;
    transition: 0.3s all;
  }
}

.checkbox:checked+.topping-checkbox {
  border: 2px solid $primary;
  color: $primary;

  .price {
    color: $primary;
  }

  &:hover {
    color: $primaryHover;
    transition: 0.3s all;
    border: 2px solid $primaryHover;

    .price {
      color: $primaryHover;
      transition: 0.3s all;
    }
  }
}

.submit {
  @include button-primary(13px, 40px, 0, 0)
}

.product-modal {
  position: relative;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 100%;
  padding: 20px 32px;
  gap: 40px;
  width: 800px;
}

.new {
  position: absolute;
  top: 20px;
  left: 0;
  padding: 8px 20px;
  background-color: $red;
  color: $white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.image-container {

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 95px 0;

  img {
    position: absolute;
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.removable-ingredients {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.toppings {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    gap: 12px;
    align-items: center;
  }
}

.price {
  color: $primary;
}

.weight {
  color: $gray;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.setting {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  border-radius: 6px;
  border: 1px solid $lineGray;
  height: 48px;
}

.info {
  position: relative;

  img {
    cursor: pointer;
  }
}

.ingredients {
  display: none;
  position: absolute;
  padding: 10px;
  background-color: $gray;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  min-width: 200px;
  top: 35px;

  &::after {
    content: '';
    position: absolute;
    border: 16px solid transparent;
    border-bottom: 16px solid $gray;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.info.hover {
  .ingredients {
    display: block;
  }
}