$primary: #FF7010;
$primaryHover: #ff701085;
$text : #191919;
$textHover: #19191991;
$bgc: #F9F9F9;
$red: #E23535;
$green: #24D17E;
$gray: #A5A5A5;
$white: #FFFF;
$whiteHover: #00000031;
$error: $red;
$success: $green;
$disabled: $gray;
$lineGray: #F0F0F0;

@mixin button-primary($ph, $pv, $mh, $mv) {
  background-color: $primary;
  color: $white;
  font-family: "SFPro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border-radius: 6px;
  padding: $ph $pv;
  margin: $mh $mv;
  transition: 0.3s background-color, color;
  border: 1px solid $primary;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    color: $primary;
    transition: 0.3s background-color, color;
  }

  &:disabled {
    background-color: $gray;
    border: $gray;

    &:hover {
      color: $white;
    }
  }
}

@mixin button-secondary($ph, $pv, $mh, $mv) {
  background-color: transparent;
  color: $primary;
  font-family: "SFPro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border-radius: 6px;
  padding: $ph $pv;
  margin: $mh $mv;
  transition: 0.3s background-color, color;
  border: 1px solid $primary;
  cursor: pointer;

  &:hover {
    background-color: $primary;
    color: $white;
    transition: 0.3s background-color, color;
  }

  &:disabled {
    background-color: transparent;
    border: $gray;
    color: $gray;
  }
}



%input {
  padding: 13px 16px;
  font-family: "SFPro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border: 1px solid $lineGray;
  border-radius: 6px;
}

%errorMessage {
  margin-left: 10px;

  p {
    color: $red;
    margin-bottom: 4px;
  }
}