@import url(./fonts.scss);
@import '_variables.scss';

* {
  color: $text;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $bgc;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {

  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 40px;
  line-height: 48px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

.subtitle {
  font-family: "SFPro", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.subtitle-secondary {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.big-text {
  font-family: "SFPro", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.text {
  font-family: "SFPro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.mini-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.bold {
  font-weight: 600;
}

.btn {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.link {
  transition: 0.3s color;
  text-decoration: none;

  &:hover {
    color: $textHover;
    transition: 0.3s color;
  }
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.input {
  @extend %input;
}


.form-input {

  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
  position: relative;

  label {
    color: $gray;
  }

  input {
    @extend %input;
  }

  .input_error {
    border: 1px solid $red;
  }

  .help-block {
    @extend %errorMessage;
  }
}

.error-messages {
  @extend %errorMessage;
}

.show-full {
  color: $primary;
}

.hidden-full {
  position: relative;
  z-index: 1;
}

.hidden-full::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent, rgb(255, 255, 255)), ;
  z-index: 2;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.option-button {
  position: relative;

  input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s all;
    font-family: "SFPro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    &:hover {
      background-color: $whiteHover;
      transition: 0.3s all;
    }
  }

  input:checked+div {
    background-color: $primary;
    color: $white;
  }
}

.radio-button {
  position: relative;

  input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  div {
    position: relative;
    padding-left: 24px;
    font-family: "SFPro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 1px solid $gray;
      box-sizing: border-box;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 8px;

      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: transparent;
    }
  }

  &:hover {
    div::before {
      background-color: rgba(0, 0, 0, 0.041);
    }
  }

  input:checked+div {
    &::before {

      border: 1px solid $primary;
    }

    &::after {
      background-color: $primary;
    }
  }
}