<div class="footer">
  <div class="footer-container container">
    <div class="meta">
      <img src="../../../assets/images/logo.svg" alt="logo" class="logo">
      <div class="copyright">
        <p class="text">© Copyright 2021 — Куда Пицца</p>
      </div>
    </div>
    <div class="nav">
      <div class="info list-container">
        <h4>Куда пицца</h4>
        <ul class="info-list list text">
          <li class="info-item list-item">
            О компании
          </li>
          <li class="info-item list-item">
            Пользовательское соглашение
          </li>
          <li class="info-item list-item">
            Условия гарантии
          </li>
        </ul>
      </div>
      <div class="help list-container">
        <h4>Помощь</h4>
        <ul class="help-list list text">
          <li class="help-item list-item">
            Ресторан
          </li>
          <li class="help-item list-item">
            Контакты
          </li>
          <li class="help-item list-item">
            Поддержка
          </li>
          <li class="help-item list-item">
            Отследить заказ
          </li>
        </ul>
      </div>
    </div>
    <div class="contacts">
      <h4>Контакты</h4>
      <div class="contacts__inner">
        <div class="communication list-container">
          <ul class="communication-list text list">
            <li class="communication-item">
              <img src="../../../assets/images/phone-icon.svg" alt="phone-icon">
              +7 (926) 223-10-11
            </li>
            <li class="communication-item text">
              <img src="../../../assets/images/map-icon.svg" alt="map-icon">
              Москва, ул. Юных Ленинцев, д.99
            </li>
          </ul>
        </div>
        <div class="socials list-container">
          <ul class="socials-list list">
            <li class="socials-item">
              <a href="https://www.facebook.com/" class="text link">
                <img src="../../../assets/images/facebook-icon.svg" alt="facebook-icon">
                Facebook
              </a>
            </li>
            <li class="socials-item">
              <a href="https://www.instagram.com/" class="text link">
                <img src="../../../assets/images/insta-icon.svg" alt="insta-icon">
                Instagram
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>