<div class="cart-product">
  <div class="image">
    <img [src]="customProduct.product.image" [alt]="customProduct.product.name">
  </div>

  <div class="content">
    <div class="content-inner">
      <p class="subtitle-secondary">{{customProduct.product.name}}</p>
      <p class="mini-text" *ngIf="customProduct.removeIngredients.length !== 0">Убрать:
        {{customProduct.removeIngredients
        | ingredients}}</p>
      <p class="mini-text" *ngIf="customProduct.toppings.length !== 0">Добавить: {{customProduct.toppings
        | ingredients}}</p>
      <p class="mini-text" *ngIf="customProduct.settings.length !== 0">{{customProduct.settings
        | settings}}</p>
    </div>
    <div class="content-bottom">
      <app-product-counter [count]="cartProduct.count" [maxCount]="10" [minCount]="0"
        (countChange)="onChangeCount($event)"></app-product-counter>
      <p class="subtitle-secondary total-price">{{cartProduct.totalPrice}} ₽</p>
    </div>
  </div>
</div>