<div class="register">
  <h2>Вход</h2>
  <p class="text">Сможете быстро оформлять заказы,
    <br> использовать бонусы
  </p>
  <form>
    <fieldset class="fieldset form-input">
      <label class="mini-text">Ваш email</label>
      <input type="text" placeholder="email" class="input">
    </fieldset>
    <fieldset class="fieldset form-input">
      <label class="mini-text">Пароль</label>
      <input type="text" placeholder="Пароль" class="input">
    </fieldset>

    <button class="btn button-submit">Войти</button>
  </form>

  <div class="link-redirect">
    <a class="mini-text link" (click)="onRedirect()">У вас еще нет аккаунта?</a>
  </div>
  <p class="info mini-text">
    Продолжая, вы соглашаетесь со сбором и обработкой персональных данных и пользовательским соглашением
  </p>
</div>