@import '../../../../../../../variables';

.change-user-info__container {
  padding: 24px 32px;
  border: 1px solid $lineGray;
  border-radius: 12px;
  background-color: $white;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.change-button {
  color: $primary;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 246px;
  padding: 0;
  margin-top: 16px;
}

.form__inner {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.form-submit {
  @include button-primary(13px, 35.5px, 0, 0)
}

.button-cancel {
  color: $gray;
}