<div class="change-user-info__container">
  <div class="top">
    <h3>Пароль</h3>
    <button class="btn text link button-cancel" (click)="onCancel()" *ngIf="formOpen">
      Отменить
    </button>
    <button class="btn text link change-button" (click)="onChange()" *ngIf="!formOpen">
      <img src="/assets/images/change-icon.svg" alt="change-icon">
      Изменить
    </button>
  </div>

  <form [formGroup]="form" *ngIf="formOpen" (ngSubmit)="onSubmit()">
    <div class="form__inner" formGroupName="password">
      <fieldset class="form-input">
        <label class="mini-text">Новый пароль</label>
        <input type="text" placeholder="********" formControlName="pass">
      </fieldset>
      <fieldset class="form-input">
        <label class="mini-text">Повторите пароль</label>
        <input type="text" placeholder="********" formControlName="confirm_password">
      </fieldset>
    </div>
    <button class="btn form-submit" [disabled]="!form.valid || (isLoading$ | async)"> Сохранить изменения</button>
  </form>
</div>